<footer>
    <div class="footer">
        
        <section class="footer1">
            <h2>Kontaktirajte nas</h2>
            <div class="podaci">
                <h3> <mat-icon [ngStyle]="{'margin-right': '7px','margin-top': '5px', 'color': ' rgb(15, 179, 15)'}">call</mat-icon>
                    <a href="tel:+381600712355">0600712355 </a></h3>

                <h3> <mat-icon [ngStyle]="{'margin-right': '7px', 'color': ' #c61700'}">mail_outline</mat-icon>
                    <a href="mailto:magazinsrbijanka@gmail.com">magazinsrbijanka@gmail.com</a></h3>
            </div>
        </section>
        <section class="footer2">
            <h2>Zapratite Nas</h2>
           
            <div class="facebook">
                <a href="https://www.facebook.com/Magazin-Srbijanka-105862997917528/" _target="blank">
                <img src="../../assets/facebook.jpg" alt="">
            </a>
            </div>
        </section>
    </div>

    <div class="footer-bottom">
        <a href="https://www.facebook.com/bojan.maric.108" _target="blank">2020 &copy; Designed by Bojan Marić
            <i class="fa fa-facebook-f" [ngStyle]="{'color': '#ffffff'}"></i>
        </a>

    </div>

</footer>
