<div class="reg">
<h1 class="text-center text-primary" [ngStyle]="{'margin-top': '2rem'}">Unesite sve podatke</h1>
<form (ngSubmit)="registration()" [formGroup]="korisnikReg" class="registration">
    <mat-form-field appearance="fill">
        <mat-label>Ime</mat-label>
        <input  matInput formControlName="name">

    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input required matInput minlength="14" formControlName="email" [errorStateMatcher]="matcher"
            placeholder="Ex. pat@example.com">
        
        <mat-error *ngIf="korisnikReg.hasError('email') && !korisnikReg.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="korisnikReg.hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Telephone</mat-label>
        <span matPrefix>+381 &nbsp;</span>
        <input minlength="8" required formControlName="phone" type="tel" matInput placeholder="64555333">
        <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input required matInput minlength="8" formControlName="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Registruj novog</button>
</form>
<div *ngIf="showSpiner"class="spinerr">
<mat-spinner></mat-spinner>
</div>
</div>