.postCategoryPage{
    width: 95%;
    margin: 0 auto 3rem auto;
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    opacity: .9;
   
}
.posts{
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
mat-progress-bar{
    width: 95%;
    margin:0 auto;
}
.post{

    position: relative;
    width: 220px;
    height: auto!important;
    margin: 1rem;
    overflow: hidden;
    box-shadow: -2px 0 8px 0 rgb(121, 121, 121);
    z-index: 0;
}
.post .postImg{
    width: 100%;
    overflow: hidden;
}
.postImg img{
    width: 100%;
    transition: 1s;
}
.post .postContent{
    padding: 5px 8px;
    
    flex-wrap: wrap;
}
.postContent h2{
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}
.postContent h3{
    font-size: 16px;
}
.post .postDescription{
    height: 50px;
    overflow: hidden;
}
.postImg img:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.postTitle{
    height: auto;
}
.post .action{
    
    display: grid;
    grid-template-columns: 50% 50%;
    z-index: 1;

    width: 100%;
}
.action button{
    width: 90%;
    margin: 5px;
}


@media screen and (max-width:786px){
    .postCategoryPage{
        width: 95%;
    }
    .posts{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .post{
        margin: 8px;
        width: 90%;
        height: 250px;
    }
}
