
<!-- 
<div  class="imageTop">
  <img  src="../../assets/Logo.png" alt="">
</div> -->
<mat-sidenav-container class="sidenav-container" autosize>
  

  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [ngClass]="{hidden : !(isHandset$ | async) }"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar [ngStyle]="{'background-color':'#004d00','color':'rgb(218, 218, 218)'}">Srbijanka</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="drawer.toggle()" href="#"></a>

      <a mat-list-item (click)="drawer.toggle()" href="#">Privreda</a>
      <a mat-list-item (click)="drawer.toggle()" href="#">ekonomija</a>
      <a mat-list-item (click)="drawer.toggle()" href="#">Turizam</a>
      <a mat-list-item (click)="drawer.toggle()" href="#">Stočarstvo</a>
      <a mat-list-item (click)="drawer.toggle()" href="#">Lov i ribolo</a>
      <a mat-list-item (click)="drawer.toggle()" href="#">Voćarstvo</a>
      <a mat-list-item (click)="drawer.toggle()" href="#">Ratarstvo</a>
      <a mat-list-item (click)="drawer.toggle()" href="#">Organska</a>

    
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <mat-toolbar [ngStyle]="{ 'background-color':'#006600'}">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
     
      <div *ngIf="isHandset$ | async" [routerLink]="['/']" class="logo">
        <img src="../../assets/Logo.png"  alt="">
      </div> 
      <div class="cen"  [ngClass]="{hidden : (isHandset$ | async) }">
        <button mat-button>Privreda</button>
        <button mat-button>ekonomija</button>
        <button mat-button>Turizam</button>
        <button mat-button>Stočarstvo</button>
        <button mat-button>Lov i ribolov</button>
        <button mat-button>Voćarstvo</button>
        <button mat-button>Ratarstvo</button>
        <button mat-button>Organska</button>

      </div>
      <span  *ngIf="!(isHandset$ | async)" class="spacer"></span>
      <button mat-button-icon [routerLink]="['/addPost']"><mat-icon>add_circle_outline</mat-icon></button>
      <div class="log">
        <button mat-icon-button><mat-icon>account_circle</mat-icon> </button>
      </div>
    </mat-toolbar>
  
      <router-outlet></router-outlet>
      <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
