<!-- 
<div  class="imageTop">
  <img  src="../../assets/Logo.png" alt="">
</div> -->
<mat-sidenav-container class="sidenav-container" autosize>


  <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [ngClass]="{hidden : !(isHandset$ | async) }"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar [ngStyle]="{'background-color':'#004d00','color':'rgb(218, 218, 218)'}">Srbijanka</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="drawer.toggle()" [routerLink]="['/']"></a>
      <a mat-list-item (click)="drawer.toggle()" [routerLink]="['/']">Početna</a>
      <a mat-list-item (click)="drawer.toggle()" href="#">Privreda</a>
      <a mat-list-item (click)="drawer.toggle()" href="#">ekonomija</a>
      <a mat-list-item (click)="drawer.toggle()" href="#">Turizam</a>
      <a mat-list-item (click)="drawer.toggle()" href="#">Stočarstvo</a>
      <a mat-list-item (click)="drawer.toggle()" href="#">Lov i ribolo</a>
      <a mat-list-item (click)="drawer.toggle()" href="#">Voćarstvo</a>
      <a mat-list-item (click)="drawer.toggle()" href="#">Ratarstvo</a>
      <a mat-list-item (click)="drawer.toggle()" href="#">Organska</a>


    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar [ngStyle]="{ 'background-color':'#006600'}">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <div *ngIf="isHandset$ | async" [routerLink]="['/']" class="logo">
        <img src="../../assets/Logo.png" alt="">
      </div>
      <div class="cen" [ngClass]="{hidden : (isHandset$ | async) }">
        <button [routerLink]="['/']" mat-button>Početna</button>

        <button mat-button>Privreda</button>
        <button mat-button>ekonomija</button>
        <button mat-button>Turizam</button>
        <button mat-button>Stočarstvo</button>
        <button mat-button>Lov i ribolov</button>
        <button mat-button>Voćarstvo</button>
        <button mat-button>Ratarstvo</button>
        <button mat-button>Organska</button>

      </div>
      <span *ngIf="!(isHandset$ | async)" class="spacer"></span>

      <div *ngIf="ulogovanIn()" class="adminPanel">
        <button mat-icon-button [matMenuTriggerFor]="beforeMenu"><mat-icon>support_agent</mat-icon></button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item [routerLink]="['/commentView']">Pregled komentara</button>
       
        <button mat-menu-item [routerLink]="['/addPost']">Dodaj Post</button>
        <button mat-menu-item [routerLink]="['/registration']">Registration</button>
      </mat-menu>
    </div>
      
      <div  class="log">
        <button *ngIf="!ulogovanIn()" mat-icon-button [routerLink]="['/login']">
          <mat-icon>account_circle</mat-icon>
          
        </button>
        
        <button *ngIf="ulogovanIn()" (click)="logout()" mat-icon-button>
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <div  class="imageTop">
      <img  src="../../assets/Logo.png" alt="">
    </div>
   
    <div class="centerPart">
      <div class="left">
       <router-outlet></router-outlet>
      </div>
      <div class="right">
        <div class="magazin">
          <div class="magazinPost">
              <img src="../../../assets/II-Pcelarski-podsetnik-3D-Cover.jpg" alt="">
              <h2>novi broj magazina</h2>
          </div>
          <div class="magazinPost">
              <img src="../../../assets/Lekovito-bilje-3D-naslovna.jpg" alt="">
              <h2>mazazinbr 213</h2>
          </div>
        

      </div>

      <div class="videos">
          <iframe src="https://www.youtube.com/embed/FUS6DWu1pUU" frameborder="0"></iframe>
          <iframe src="https://www.youtube.com/embed/FUS6DWu1pUU" frameborder="0"></iframe>
          <iframe src="https://www.youtube.com/embed/FUS6DWu1pUU" frameborder="0"></iframe> 


      </div>
      </div>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>