.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden{
  display: none;
}
.show{
  display: initial;
}
.spacer{
  flex: 1 1 auto;
}

.cen{
 width: 100%;
 margin: 0 auto;
 flex: 1 1;
 text-align: center;
}
.cen button{
  text-transform: uppercase;
  color: rgb(218, 218, 218);
  transition: .5;
 
}
.logo{
  margin-top: 10px;
  margin-left: 10px;
}
.logo img{
  height: 40px;
  width: auto;
  
}
.cen button:hover{
  color: rgb(162, 162, 162);
}
mat-toolbar mat-icon{
    color:  rgb(218, 218, 218);
}
mat-nav-list a{
  color: #004d00;
}