
<div class="home">
   
    <div class="mainSide">
        <div class="dailyImage">
            <img src="../../../assets/images_cms-image-000013509.jpg" alt="">

        </div>


        <div class="posts">
            <div *ngFor="let post of (posts | async)?.posts">
                <div class="post">
                    <div  class="postImage">
                        <img [src]="getImage(post.picture)"  (click)="openPost(post._id)" alt="">
                    </div>
                    <div  (click)="openPost(post._id)" class="postContent">
                        <div class="postDate">
                            {{post.date | date: 'M/d/yy, h:mm'}}
                        </div>
                        <div class="postTitle">
                            <h2>{{post.title}}</h2>
                        </div>
                        <div class="postDescription">
                            <p> {{post.description}}</p>
                           

                        </div>
                        
                    </div>
    
    
                    <div *ngIf="ulogovanIn()" class="actions">
                        <button mat-raised-button color="success" (click)="deletePost(post)">Delete</button>
                    </div>
                </div>

            </div>


        </div>

    </div>
   <!--  <div class="aside">
        <div class="magazin">
            <div class="magazinPost">
                <img src="../../../assets/II-Pcelarski-podsetnik-3D-Cover.jpg" alt="">
            </div>
            <div class="magazinPost">
                <img src="../../../assets/Lekovito-bilje-3D-naslovna.jpg" alt="">
            </div>
            <div class="magazinPost">
                <img src="../../../assets/Lekovito-bilje-3D-naslovna.jpg" alt="">
            </div>
            <div class="magazinPost">
                <img src="../../../assets/Lekovito-bilje-3D-naslovna.jpg" alt="">
            </div>


        </div>

        <div class="videos">

            <iframe src="https://www.youtube.com/embed/FUS6DWu1pUU" frameborder="0"></iframe>
            <iframe src="https://www.youtube.com/embed/FUS6DWu1pUU" frameborder="0"></iframe>
            <iframe src="https://www.youtube.com/embed/FUS6DWu1pUU" frameborder="0"></iframe> 


        </div>

    </div>
 -->

</div>